body{
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

::-webkit-scrollbar {
    display: none;
} 

.scroll-model{
    height: 95%;
    overflow: hidden; 
    overflow-y: scroll;
}

.scroll-model-modal{
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}

h4{
    margin-bottom: 0;
    margin-top: 6px;
}

.row{
    width: 100%;
}

.img-car{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}